@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050608;
  --foreground: #f7f5f0;
  --accent: #ea751c;
}

body {
  background: var(--background);
  color: var(--foreground);
}
